.container {
    width: 60vw;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(249, 247, 246, 0.9);
    margin-top: 20px;
}

.calculator h3 {
    text-align: center;
}

.calculator-record {
    display: flex;
    flex-direction: row;

}
.calculator-record__radio {
    display: flex;
    flex-direction: row;
}

.calculator-names {
    width: 30%;
    margin: 3px 0px 3px;
}
.calculator-names__reference {
    width: 40%;
    font-size: 14px;
    font-style:  italic;
    margin: 4px 0px 4px;
}

.calculator-data {
    width: 20%;
    font-size: 14px;
    background-color: white;
    margin: 3px 0px 3px;
}

.calculator-data__select {
    width: 21%;
    font-size: 14px;
    background-color: white;
    margin: 3px 0px 3px;
}
.calculator-data__radio {
    width: 25%;
    margin: 3px 3px 0px;
}
.calculator-data__result {
    width: 20%;
    font-size: 16px;
    text-align: center;
    background-color: white;
    margin: 3px 0px 3px;
}
.calculator-action button {
    width: 40%;
    text-align: center;
    padding: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 10px 0px 10px;
}
